﻿@model Blog.Models.ArticulosModel

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="alert alert-info">Crear Artículo</h3>

<div class="row">
    <div class="col-lg-2 text-right">
        <label>Usuario:</label>
    </div>
    <div class="col-lg-9">
        @Html.DropDownList("usuarios", Model.Usuarios)
    </div>    
</div><br />
<div class="row">
    <div class="col-lg-2 text-right">
        <label>Título:</label>        
    </div>
    <div class="col-lg-9">        
        <input type="text" id="titulo" maxlength="50" />
    </div>
</div><br />
<div class="row">
    <div class="col-lg-2 text-right">
        <label>Descripción:</label>
    </div>
    <div class="col-lg-9">
        <textarea rows="3" id="descripcion" maxlength="250"></textarea>
    </div>
</div><br />
<div class="row">
    <div class="col-lg-12 text-center">
        <button class="btn btn-primary" type="submit" onclick="crear()" >Crear Artículo</button>
    </div>    
</div>

<h3 class="alert alert-info">Artículos Creados</h3>

<div class="row">
    <div class="col-lg-12">
        <div class="list-group">
            @foreach (var articulo in Model.Articulos)
            {
            <div class="list-group-item">
                <h4 class="list-group-item-heading">@articulo.Titulo</h4>
                <p class="list-group-item-text">@articulo.Descripcion</p>
                <h6>Creado Por: @articulo.Usuario el @articulo.Fecha.ToShortDateString()</h6>
            </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function crear() {
        if ($('#usuarios').val() != '' && $('#titulo').val() != '' && $('#descripcion').val() != '') {
            $.ajax({
                url: "@Url.Action("Create", "Home")",
                data: {
                    Id: $('#usuarios').val(),
                    Titulo: $('#titulo').val(),
                    Descripcion: $('#descripcion').val()
                },
                type: "post",
                success: function () {
                    window.location.href = "/";
                },
                error: function () {
                    alert("Error in Ajax call");
                }
            });
        }
        else {
            alert('Complete todos los campos');
        }
    }
</script>